<% if params[:controller] == 'categories' && params[:action] == 'index' %>
  <div class='bg-blue-400'>
    <div class="offcanvas offcanvas-start bg-blue-400" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
      <div class="offcanvas-header">
        <h3>
          <%= debug @user.full_name %>
        </h3>
        <button type="button" class="border bg-red-500" data-bs-dismiss="offcanvas" aria-label="Close">x</button>
      </div>
      <div class="offcanvas-body">
        <%= link_to 'Edit profile', edit_user_registration_path %>
        <%= button_to 'Sign out', destroy_user_session_path, :method => :delete %>
      </div>
    </div>
  </div>
<% end %>
