<% if params[:controller] == 'categories' && params[:action] == 'index' %>
  <div class='bg-blue-400 hidden' id='offcanvas'>
    <button class='text-slate-100 text-xl' data-controller='offcanvas' data-action='offcanvas#close'>X</button>
    <div class="">
      <%= link_to 'Edit profile', edit_user_registration_path %>
      <%= button_to 'Sign out', destroy_user_session_path, :method => :delete %>
    </div>
  </div>
<% end %>
