<div id="<%= dom_id operation %>" class='bg-white flex items-center px-4 py-2 border shadow'>
  <div class='grow'>
    <p class='text-lg'>
      <strong><%= operation.name %></strong>
    </p>
    <p>
      <i class='text-sm'>Price:</i>
      $ <%= operation.amount %> USD
    </p>
  </div>
  <%= button_to category_operation_path(@category, operation), class:'text-red-500 hover:bg-red-500 hover:text-red-200 px-2 py-1 rounded-md' do %>
    <i class="fa-solid fa-trash-can"></i>
  <% end %>
</div>