<div id="categories" class='flex flex-col pt-2 gap-2 px-2'>
  <% @categories.each do |category| %>
    <%= link_to category, class:'' do %>
      <%= render category %>
    <% end %>
  <% end %>
</div>

<%= link_to new_category_path, class:'absolute bottom-10 right-10 w-10 h-10 bg-emerald-500 rounded-full font-black text-yellow-500 text-2xl flex justify-center items center' do %>
  <p>+</p>
<% end %>
