<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= link_to category, class:'' do %>
      <%= render category %>
    <% end %>
  <% end %>
</div>

<%= link_to '+', new_category_path, class:'' %>
