<%= render @category %>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= link_to operation, class:'' do %>
      <%= render '/shared/operation_preview', operation: operation %>
    <% end %>
  <% end %>
</div>

<%= link_to new_category_operation_path(@category), class:'absolute bottom-10 right-10 w-10 h-10 bg-emerald-500 rounded-full font-black text-yellow-500 text-2xl flex justify-center items center' do %>
  <p>+</p>
<% end %>